@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    scroll-behavior: smooth; 
    color: #e2e8f0;
}

#projects-section:hover #project{
    opacity:0.5;
    transition: all 200ms;
}

#projects-section #project:hover{
    opacity:1;
    box-shadow: 1px 1px #15213b ;
    transition: all 200ms;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-track{
    background: hsl(221, 48%, 18%);
}

::-webkit-scrollbar-thumb{
    background: hsl(221, 45%, 24%);
    height: .1rem;
}

.cursorGuitar{
    cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}

.cursorEsports{
    cursor: url(https://cur.cursors-4u.net/mechanics/mec-5/mec440.cur), auto !important;
}